<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go+ 教程</title>
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=no"></meta>
    <link rel=stylesheet href="/site.css">
    <script data-widgets="header,footer" src="https://goplus.org/widgets/loader.js"></script>
  </head>
  <body>
    {{ template "header" }}
    <main class="main">
      <ul class="breadcrumb">
        <li class="breadcrumb-link-item"><a href="https://goplus.org">Go+</a></li>
        <li class="breadcrumb-current-item">教程</li>
      </ul>
      <div class="text-wrapper">
        <h2>教程</h2>
        <p>
          <a href="https://goplus.org/">Go+</a> 是
          一门开源的编程语言，
          为工程、STEM教育和数据科学而设计。
        </p>
        <p>
          Go+ 教程
          包含了关于Go+的实践介绍，
          并使用带注释的示例程序来演示Go+的功能。
          请看 <a href="hello-world">第一个案例</a> 或者
          浏览下面的完整清单。
        </p>
        {{range .}}
          {{if .Title}}<h3>{{.Title}}</h3>{{end}}
          <ul class="example-link-list">
            {{range .Articles}}
              <li><a class="example-link" href="{{.Path}}">{{.Title}}</a></li>
            {{end}}
          </ul>
        {{end}}
      </div>
    </main>
    {{ template "footer" }}
  </body>
</html>
